/*TEMPLATE 1*/

.cont-template1 {
    border: solid 1px #ccc;
    width: 1100px;
    height: 1400px;
}

.row-columns-template1{
    height: 100%;
}

/*FONT TEMPLATE1*/
.cont-template1 h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.cont-template1 h2 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    text-align: justify;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.cont-template1 h3 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    text-align: justify;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.cont-template1 p {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}


/*COLUMNA IZQUIERDA*/
.template1-colum-left {
    background-color: #275077;
    color: white;
    height: 100%;
}

.cont-left-temp1 {
    height: 100%;
}

/*COLUMNA DERECHA*/
.temp1-colum-right {
    height: 100%;
    background-color: #fefefe;
}

.cont-rigth-temp1 {
    height: 100%;
}

.cont-rigth-temp1 h3 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    text-align: justify;
    color: #275077;
}

/*CONT INFO BASICA*/

/*IMAGEN PERFIL*/
.cont-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-img img{
    width: 150px !important;
    height: 150px !important; /* igual al ancho */
    object-fit: cover !important; /* evita que la imagen se deforme */
    border-radius: 50% !important; /* asegura el círculo si no usás Bootstrap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
}

.cont-info-basica p{
    text-align: justify;
    text-justify: inter-word; /* mejora la distribución del espacio */
    line-height: 1.4; /* un poco más de espacio entre líneas mejora la legibilidad */
}

/*CONT INFO PERSONAL*/
.cont-info-personal li{
    text-align: justify;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.ul-info-per-template1 {
    list-style-type: none;
    padding: 0;
}

/*CONT INFO CONTACTO*/
.cont-contacto li{
    text-align: justify;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.ul-info-cont-template1 {
    list-style-type: none;
    padding: 0;
}

/*CONT HABILIDADES*/
.cont-habilidades li{
    text-align: justify;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

/*CONT OTRO DATOS*/
.cont-otros-datos p{
    text-align: justify;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    text-justify: inter-word; /* mejora la distribución del espacio */
    line-height: 1.4; /* un poco más de espacio entre líneas mejora la legibilidad */
}

.ul-exp-template1 {
    list-style-type: none;
    padding: 0;
}

.ul-habi-template1 li::marker {
    color: #275077; /* Cambiá por el color que quieras */
    font-size: 20px; /* ⚠️ No es 100% compatible */
}

.template1-strong-title {
    color: #152635 !important;
    text-transform: capitalize; /* convierte la primera letra de cada palabra en mayúscula */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);;
}

.template1-h5 {
    color: #275077;
    font-weight: bold;
}

.template1-div-exp span{
    font-style: italic;
    text-transform: capitalize;
    color: #152635;
}
.template1-span-exp {
    margin-right: 10px;
}

.template1-span-fecha-exp {
    margin-left: 10px;
}

.template1-span-descrip {
    font-weight: bold;
    color: #152635;
}

.template1-span-cont-ref{
    font-weight: bold;
    color: #152635;
}

.template1-cont-ref{
    text-transform: capitalize;
}

.template1-div-edu span{
    font-style: italic;
    text-transform: capitalize;
    color: #152635;
}

.template1-span-nivel-edu {
    color: #152635;
    font-weight: lighter !important;
    margin-left: 5px;
}

.template1-span-inst-edu {
    margin-right: 10px;
}

.template1-span-fecha-edu {
    margin-left: 10px;
}

.template1-div-cur span{
    font-style: italic;
    text-transform: capitalize;
    color: #152635;
}

.template1-span-inst-cur {
    margin-right: 10px;
}

.template1-span-fecha-cur {
    margin-left: 10px;
}

.ul-exp-template1 li {
    line-height: 1.2;           /* Texto más "unido" verticalmente */
    letter-spacing: -0.5px;     /* (Opcional) Más compacto horizontalmente */
    margin-top: 5px;
    margin-bottom: 5px;
}

.ul-habi-template1 li {
    line-height: 1.2;           /* Texto más "unido" verticalmente */
    letter-spacing: -0.5px;     /* (Opcional) Más compacto horizontalmente */
}

/*
.template1-cont-experiencia {
    margin-bottom: 25px;
    border-bottom: solid 1px #ccc;
}

.template1-cont-educacion {
    margin-bottom: 25px;
    border-bottom: solid 1px #ccc;
}

.template1-cont-cursos {
    margin-bottom: 25px;
    border-bottom: solid 1px #ccc;
}

.template1-cont-habilidades{
    margin-bottom: 25px;
    border-bottom: solid 1px #ccc;
}
    */

/*TEMPLATE 2*/
.cont-template2 {
    border: solid 1px #ccc;
    width: 1100px;
    height: 1500px;
}

.row-columns-template2{
    height: 100%;
}

/*COLUMNA IZQUIERDA*/
.template2-colum-left {
    padding: 0;
    background-color: #8bef;
    color: #19191b;
    height: 100%;
}

/*CONTENEDORES COLUMNA IZQUIERDA*/
.cont-info-basica-temp2 {
    margin-bottom: 10px;
}
.cont-info-personal-temp2{
    margin-bottom: 10px;
}
.cont-info-cont-temp2 {
    margin-bottom: 10px;
}
.cont-otros-datos-temp2 {
    margin-bottom: 10px;
}
/*INFORMACION BASICA*/

.cont-img-temp2 {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(86, 163, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;
}

.cont-img-temp2 img {
    width: 200px !important;
    height: 200px !important; /* igual al ancho */
    object-fit: cover !important; /* evita que la imagen se deforme */
    border-radius: 50% !important; /* asegura el círculo si no usás Bootstrap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    border: solid 2px #fefefe;
}

.temp2-h1-nombre{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.temp2-h2-puesto{
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: lighter;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.cont-info-basica-temp2 p {
    margin-bottom: 0;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    text-justify: inter-word; /* mejora la distribución del espacio */
    line-height: 1.4; /* un poco más de espacio entre líneas mejora la legibilidad */
}

/*INFORMACION PERSONAL*/

.div-h3-temp2 {
    background-color: rgb(86, 163, 241);
    padding: 8px;
    margin-bottom: 10px;
}

.div-h3-temp2 h3 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color: black;
}

.ul-info-per-template2 {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.ul-info-per-template2 li {
    text-align: justify;
    text-justify: inter-word; /* mejora la distribución del espacio */
    line-height: 1.4; /* un poco más de espacio entre líneas mejora la legibilidad */
}

/*CONTACTO*/
.ul-info-cont-template2 {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.ul-info-cont-template2 li {
    text-align: justify;
    text-justify: inter-word; /* mejora la distribución del espacio */
    line-height: 1.4; /* un poco más de espacio entre líneas mejora la legibilidad */
}
/*OTROS DATOS*/
.cont-otros-datos-temp2 p{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    text-justify: inter-word; /* mejora la distribución del espacio */
    line-height: 1.4; /* un poco más de espacio entre líneas mejora la legibilidad */
}


/*COLUMNA DERECHA*/
.temp2-colum-right {
    background-color: #fefefe;
    color: black;
    border-top: solid 10px rgb(86, 163, 241);
}

.template2-h5 {
    color: rgb(50, 49, 49);
    font-weight: bold;
}

.template2-strong-title {
    color:rgb(39, 103, 167) !important;
    text-transform: capitalize; /* convierte la primera letra de cada palabra en mayúscula */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);;
}

.template2-div-exp span{
    font-style: italic;
    text-transform: capitalize;
    color: rgb(39, 103, 167);
}
.template2-span-exp {
    margin-right: 10px;
}

.ul-exp-template2 {
    list-style-type: none;
    padding: 0;
}

.template2-span-fecha-exp {
    margin-left: 10px;
}

.template2-span-descrip {
    font-weight: bold;
    color: rgb(39, 103, 167);
}

.template2-span-cont-ref{
    font-weight: bold;
    color: rgb(39, 103, 167);
}

.template2-cont-ref{
    text-transform: capitalize;
}

.template2-div-edu span{
    font-style: italic;
    text-transform: capitalize;
    color: rgb(39, 103, 167);
}

.template2-span-nivel-edu {
    color: rgb(39, 103, 167);
    font-weight: lighter !important;
    margin-left: 5px;
}

.template2-span-inst-edu {
    margin-right: 10px;
}

.template2-span-fecha-edu {
    margin-left: 10px;
}

.template2-div-cur span{
    font-style: italic;
    text-transform: capitalize;
    color: rgb(39, 103, 167);
}

.template2-span-inst-cur {
    margin-right: 10px;
}

.template2-span-fecha-cur {
    margin-left: 10px;
}

.ul-exp-template2 li {
    line-height: 1.2;           /* Texto más "unido" verticalmente */
    letter-spacing: -0.5px;     /* (Opcional) Más compacto horizontalmente */
    margin-top: 5px;
    margin-bottom: 5px;
}

.ul-habi-template2 li {
    line-height: 1.2;           /* Texto más "unido" verticalmente */
    letter-spacing: -0.5px;     /* (Opcional) Más compacto horizontalmente */
}