<div id="template6-container" class="container mt-5 mb-5 cont-template6 pagina-cv">
    <div class="row row-columns-template6">
        <div class="col-4 template6-colum-left">
            <div class="cont-left-temp6 d-flex flex-column">
                <div class="cont-info-basica-temp6">
                    <div class="header-temp6">
                        <div class="cont-img-temp6">
                            <img id="template6-foto-perfil" src="" alt="foto-perfil">
                        </div>
                    </div>
                    <div class="">
                        <h1 class="temp6-h1-nombre" id="template6-nombre"></h1>
                        <h2 class="temp6-h2-puesto" id="template6-puesto"></h2>
                        <div class="temp6-div-h3">
                            <h3 class="">Perfil Profesional</h3>
                        </div>
                        <p><span id="template6-perfil"></span></p>
                    </div>
                </div>
                <div class="cont-info-personal-temp6">
                    <div class="temp6-div-h3"><h3>Información Personal</h3></div>
                        <ul class="ul-info-per-template6">
                            <li><strong>Fecha de Nacimiento: </strong><span id="template6-fechaNac"></span></li>
                            <li><strong>Edad: </strong><span id="template6-edad"></span><span> años</span></li>
                            <li><strong>Lugar de Nacimiento: </strong><span id="template6-lugarNac"></span></li>
                            <li><strong>Nacionalidad: </strong><span id="template6-nacionalidad"></span></li>
                        </ul>
                </div>
                <div class="cont-info-cont-temp6">
                    <div class="temp6-div-h3"><h3>Contacto</h3></div>
                    <ul class="ul-info-cont-template6">
                        <li><strong><i class="bi bi-telephone-forward me-2"></i>Teléfono: </strong><span id="template6-nroCelular"></span></li>
                        <li><strong><i class="bi bi-envelope me-2"></i>Email: </strong><span id="template6-correo"></span></li>
                        <li><strong><i class="bi bi-geo-alt me-2"></i>Dirección: </strong><span id="template6-direccion"></span></li>
                    </ul>
                </div>
                <div class="cont-otros-datos-temp6">
                    <div class="temp6-div-h3"><h3>Otros Datos</h3></div>
                    <p id="template6-otrosDatos"></p>
                </div>
            </div>
        </div>
        <div class="col-8 temp6-colum-right">
            <div class="cont-rigth-temp6 p-4 d-flex flex-column">
                    <div id="template6-experiencias" class="cont-form-experiencia"></div>
                    <div id="template6-educacion" class="cont-form-educacion"></div>
                    <div id="template6-cursos" class="cont-form-curso"></div>
                    <div id="template6-habilidad" class="cont-form-habilidad"></div>
            </div>
        </div>
    </div>
</div>