<div id="template8-container" class="container mt-5 mb-5 cont-template8 pagina-cv">
    <div class="row row-columns-template8">
        <div class="col-4 template8-colum-left">
            <div class="cont-left-temp8 d-flex flex-column">
                <div class="cont-info-basica-temp8">
                    <div class="header-temp8">
                        <div class="cont-img-temp8">
                            <img id="template8-foto-perfil" src="" alt="foto-perfil">
                        </div>
                    </div>
                    <div class="">
                        <h1 class="temp8-h1-nombre" id="template8-nombre"></h1>
                        <h2 class="temp8-h2-puesto" id="template8-puesto"></h2>
                        <div class="temp8-div-h3">
                            <h3 class="">Perfil Profesional</h3>
                        </div>
                        <p><span id="template8-perfil"></span></p>
                    </div>
                </div>
                <div class="cont-info-personal-temp8">
                    <div class="temp8-div-h3"><h3>Información Personal</h3></div>
                        <ul class="ul-info-per-template8">
                            <li><strong>Fecha de Nacimiento: </strong><span id="template8-fechaNac"></span></li>
                            <li><strong>Edad: </strong><span id="template8-edad"></span><span> años</span></li>
                            <li><strong>Lugar de Nacimiento: </strong><span id="template8-lugarNac"></span></li>
                            <li><strong>Nacionalidad: </strong><span id="template8-nacionalidad"></span></li>
                        </ul>
                </div>
                <div class="cont-info-cont-temp8">
                    <div class="temp8-div-h3"><h3>Contacto</h3></div>
                    <ul class="ul-info-cont-template8">
                        <li><strong><i class="bi bi-telephone-forward me-2"></i>Teléfono: </strong><span id="template8-nroCelular"></span></li>
                        <li><strong><i class="bi bi-envelope me-2"></i>Email: </strong><span id="template8-correo"></span></li>
                        <li><strong><i class="bi bi-geo-alt me-2"></i>Dirección: </strong><span id="template8-direccion"></span></li>
                    </ul>
                </div>
                <div class="cont-otros-datos-temp8">
                    <div class="temp8-div-h3"><h3>Otros Datos</h3></div>
                    <p id="template8-otrosDatos"></p>
                </div>
            </div>
        </div>
        <div class="col-8 temp8-colum-right">
            <div class="cont-rigth-temp8 p-4 d-flex flex-column">
                    <div id="template8-experiencias" class="cont-form-experiencia"></div>
                    <div id="template8-educacion" class="cont-form-educacion"></div>
                    <div id="template8-cursos" class="cont-form-curso"></div>
                    <div id="template8-habilidad" class="cont-form-habilidad"></div>
            </div>
        </div>
    </div>
</div>