
<div id="template1-container" class="container mt-5 mb-5 cont-template1 pagina-cv">
    <div class="row row-columns-template1">
        <div class="col-4 temp1-colum-left">
            <div class="cont-left-temp1 p-4 d-flex flex-column">
                <div>
                    <div class="cont-img">
                        <img id="template1-foto-perfil" src="" alt="foto-perfil" class="" style="width:150px; height:150px; object-fit:cover; border-radius:50%">
                    </div>
                    <div class="cont-info-basica mt-3">
                        <h1 class="" id="template1-nombre"></h1>
                        <h2 id="template1-puesto"></h2>
                        <p><strong>PERFIL PROFESIONAL: </strong><span id="template1-perfil"></span></p>
                    </div>
                </div>
                <div>
                    <div class="cont-info-personal">
                        <h3>Información Personal</h3>
                        <ul class="ul-info-per-template1">
                            <li><strong>Fecha de Nacimiento: </strong><span id="template1-fechaNac"></span></li>
                            <li><strong>Edad: </strong><span id="template1-edad"></span><span> años</span></li>
                            <li><strong>Lugar de Nacimiento: </strong><span id="template1-lugarNac"></span></li>
                            <li><strong>Nacionalidad: </strong><span id="template1-nacionalidad"></span></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="cont-contacto">
                        <h3>Contacto</h3>
                        <ul class="ul-info-cont-template1">
                            <li><strong><i class="bi bi-telephone-forward me-2"></i>Teléfono: </strong><span id="template1-nroCelular"></span></li>
                            <li><strong><i class="bi bi-envelope me-2"></i>Email: </strong><span id="template1-correo"></span></li>
                            <li><strong><i class="bi bi-geo-alt me-2"></i>Dirección: </strong><span id="template1-direccion"></span></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="cont-otros-datos">
                        <h3>Informacion Adicional</h3>
                        <p id="template1-otrosDatos"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 temp1-colum-right">
            <div class="cont-rigth-temp1 p-4 d-flex flex-column">
                <div>
                    <div class="template1-cont-experiencia mb-3" id="template1-cont-experiencias">
                        <div id="template1-experiencias" class="cont-form-experiencia"></div>
                    </div>
                </div>
                <div>
                    <div class="template1-cont-educacion mb-3" id="template1-cont-educacion">
                        <div id="template1-educacion" class="cont-form-educacion"></div>
                    </div>
                </div>
                <div>
                    <div class="template1-cont-cursos mb-3" id="template1-cont-cursos">
                        <div id="template1-cursos" class="cont-form-curso"></div>
                    </div>
                </div>
                <div>
                    <div class="template1-cont-habilidades mb-3" id="template1-cont-habilidad">
                        <div id="template1-habilidad" class="cont-form-habilidad"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
