<div id="template9-container" class="container mt-5 mb-5 cont-template9 pagina-cv">
    <div class="row row-columns-template9">
        <div class="col-4 template9-colum-left">
            <div class="cont-left-temp9 d-flex flex-column">
                <div class="cont-info-basica-temp9">
                    <div class="header-temp9">
                        <div class="cont-img-temp9">
                            <img id="template9-foto-perfil" src="" alt="foto-perfil">
                        </div>
                    </div>
                    <div class="">
                        <h1 class="temp9-h1-nombre" id="template9-nombre"></h1>
                        <h2 class="temp9-h2-puesto" id="template9-puesto"></h2>
                        <div class="temp9-div-h3">
                            <h3 class="">Perfil Profesional</h3>
                        </div>
                        <p><span id="template9-perfil"></span></p>
                    </div>
                </div>
                <div class="cont-info-personal-temp9">
                    <div class="temp9-div-h3"><h3>Información Personal</h3></div>
                        <ul class="ul-info-per-template9">
                            <li><strong>Fecha de Nacimiento: </strong><span id="template9-fechaNac"></span></li>
                            <li><strong>Edad: </strong><span id="template9-edad"></span><span> años</span></li>
                            <li><strong>Lugar de Nacimiento: </strong><span id="template9-lugarNac"></span></li>
                            <li><strong>Nacionalidad: </strong><span id="template9-nacionalidad"></span></li>
                        </ul>
                </div>
                <div class="cont-info-cont-temp9">
                    <div class="temp9-div-h3"><h3>Contacto</h3></div>
                    <ul class="ul-info-cont-template9">
                        <li><strong><i class="bi bi-telephone-forward me-2"></i>Teléfono: </strong><span id="template9-nroCelular"></span></li>
                        <li><strong><i class="bi bi-envelope me-2"></i>Email: </strong><span id="template9-correo"></span></li>
                        <li><strong><i class="bi bi-geo-alt me-2"></i>Dirección: </strong><span id="template9-direccion"></span></li>
                    </ul>
                </div>
                <div class="cont-otros-datos-temp9">
                    <div class="temp9-div-h3"><h3>Otros Datos</h3></div>
                    <p id="template9-otrosDatos"></p>
                </div>
            </div>
        </div>
        <div class="col-8 temp9-colum-right">
            <div class="cont-rigth-temp9 p-4 d-flex flex-column">
                    <div id="template9-experiencias" class="cont-form-experiencia"></div>
                    <div id="template9-educacion" class="cont-form-educacion"></div>
                    <div id="template9-cursos" class="cont-form-curso"></div>
                    <div id="template9-habilidad" class="cont-form-habilidad"></div>
            </div>
        </div>
    </div>
</div>