<div id="template7-container" class="container mt-5 mb-5 cont-template7 pagina-cv">
    <div class="row row-columns-template7">
        <div class="col-4 template7-colum-left">
            <div class="cont-left-temp7 d-flex flex-column">
                <div class="cont-info-basica-temp7">
                    <div class="header-temp7">
                        <div class="cont-img-temp7">
                            <img id="template7-foto-perfil" src="" alt="foto-perfil">
                        </div>
                    </div>
                    <div class="">
                        <h1 class="temp7-h1-nombre" id="template7-nombre"></h1>
                        <h2 class="temp7-h2-puesto" id="template7-puesto"></h2>
                        <div class="temp7-div-h3">
                            <h3 class="">Perfil Profesional</h3>
                        </div>
                        <p><span id="template7-perfil"></span></p>
                    </div>
                </div>
                <div class="cont-info-personal-temp7">
                    <div class="temp7-div-h3"><h3>Información Personal</h3></div>
                        <ul class="ul-info-per-template7">
                            <li><strong>Fecha de Nacimiento: </strong><span id="template7-fechaNac"></span></li>
                            <li><strong>Edad: </strong><span id="template7-edad"></span><span> años</span></li>
                            <li><strong>Lugar de Nacimiento: </strong><span id="template7-lugarNac"></span></li>
                            <li><strong>Nacionalidad: </strong><span id="template7-nacionalidad"></span></li>
                        </ul>
                </div>
                <div class="cont-info-cont-temp7">
                    <div class="temp7-div-h3"><h3>Contacto</h3></div>
                    <ul class="ul-info-cont-template7">
                        <li><strong><i class="bi bi-telephone-forward me-2"></i>Teléfono: </strong><span id="template7-nroCelular"></span></li>
                        <li><strong><i class="bi bi-envelope me-2"></i>Email: </strong><span id="template7-correo"></span></li>
                        <li><strong><i class="bi bi-geo-alt me-2"></i>Dirección: </strong><span id="template7-direccion"></span></li>
                    </ul>
                </div>
                <div class="cont-otros-datos-temp7">
                    <div class="temp7-div-h3"><h3>Otros Datos</h3></div>
                    <p id="template7-otrosDatos"></p>
                </div>
            </div>
        </div>
        <div class="col-8 temp7-colum-right">
            <div class="cont-rigth-temp7 p-4 d-flex flex-column">
                    <div id="template7-experiencias" class="cont-form-experiencia"></div>
                    <div id="template7-educacion" class="cont-form-educacion"></div>
                    <div id="template7-cursos" class="cont-form-curso"></div>
                    <div id="template7-habilidad" class="cont-form-habilidad"></div>
            </div>
        </div>
    </div>
</div>