<div id="template5-container" class="container mt-5 mb-5 cont-template5 pagina-cv">
    <div class="row row-columns-template5">
        <div class="col-4 template5-colum-left">
            <div class="cont-left-temp5 d-flex flex-column">
                <div class="cont-info-basica-temp5">
                    <div class="cont-img-temp5">
                        <img id="template5-foto-perfil" src="" alt="foto-perfil">
                    </div>
                    <div class="">
                        <h1 class="temp5-h1-nombre" id="template5-nombre"></h1>
                        <h2 class="temp5-h2-puesto" id="template5-puesto"></h2>
                        <div class="temp5-div-h3">
                            <h3 class="">Perfil Profesional</h3>
                        </div>
                        <p><span id="template5-perfil"></span></p>
                    </div>
                </div>
                <div class="cont-info-personal-temp5">
                    <div class="temp5-div-h3"><h3>Información Personal</h3></div>
                        <ul class="ul-info-per-template5">
                            <li><strong>Fecha de Nacimiento: </strong><span id="template5-fechaNac"></span></li>
                            <li><strong>Edad: </strong><span id="template5-edad"></span><span> años</span></li>
                            <li><strong>Lugar de Nacimiento: </strong><span id="template5-lugarNac"></span></li>
                            <li><strong>Nacionalidad: </strong><span id="template5-nacionalidad"></span></li>
                        </ul>
                </div>
                <div class="cont-info-cont-temp5">
                    <div class="temp5-div-h3"><h3>Contacto</h3></div>
                    <ul class="ul-info-cont-template5">
                        <li><strong><i class="bi bi-telephone-forward me-2"></i>Teléfono: </strong><span id="template5-nroCelular"></span></li>
                        <li><strong><i class="bi bi-envelope me-2"></i>Email: </strong><span id="template5-correo"></span></li>
                        <li><strong><i class="bi bi-geo-alt me-2"></i>Dirección: </strong><span id="template5-direccion"></span></li>
                    </ul>
                </div>
                <div class="cont-otros-datos-temp5">
                    <div class="temp5-div-h3"><h3>Otros Datos</h3></div>
                    <p id="template5-otrosDatos"></p>
                </div>
            </div>
        </div>
        <div class="col-8 temp5-colum-right">
            <div class="cont-rigth-temp5 p-4 d-flex flex-column">
                    <div id="template5-experiencias" class="cont-form-experiencia"></div>
                    <div id="template5-educacion" class="cont-form-educacion"></div>
                    <div id="template5-cursos" class="cont-form-curso"></div>
                    <div id="template5-habilidad" class="cont-form-habilidad"></div>
            </div>
        </div>
    </div>
</div>